datasets==2.14.5
flax>=0.3.5
jax>=0.2.8
jaxlib>=0.1.59
transformers==4.34.1
evaluate==0.4.1
torch==2.1.0
accelerate==0.24.1
scikit-learn==1.4.2
numpy==1.26.4
tree-sitter
tqdm
scipy
pandas
requests
nltk
jsonlines
joblib
matplotlib
configparser
